@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/components/hallOfFame.module.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --yellow: 38 97% 54%;
    --dark-blue: 233 81% 10%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    offset-path: path(
      'm0,0s79.65,102.99,182.21,67.76c0,0,38.68-11.69,57.38,1.82,0,0,105.54,70.81,181.55,31.04'
    );
  }
  .cls-1,
  .cls-2 {
    fill: none;
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-4 {
    fill: #feb53b;
  }

  .cls-2 {
    stroke: #fff;
    stroke-miterlimit: 10;
  }

  .cls-5 {
    opacity: 0.5;
  }
  .ball-cls-1 {
    fill: rgb(255, 255, 255);
  }

  .ball-cls-2 {
    fill: #bd4141;
  }

  .dot-path-cls-1 {
    fill: none;
    stroke: #000;
    stroke-dasharray: 0 0 0.98 6;
    stroke-width: 1.5px;
    stroke-miterlimit: 10;
    stroke-linecap: round;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: -69.8;
    }
  }
}
