.carousel-container {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url('/hallOfFame.svg');
  background-position: right;
  background-repeat: no-repeat;
  min-width: 300px;
}

.carousel-title {
  position: absolute;
  top: 15%;
  width: 45%;
  text-align: center;
  font-size: 4rem;
  z-index: 100;
  font-weight: 600;
  color: white;
}

.carousel-slide {
  position: relative;
  height: 90%;
  width: 100%;
  margin: 0 27px;
}

.carousel-slide .carousel-item {
  width: 20rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  background-color: #252836;
}

.carousel-slide .carousel-item:nth-child(1),
.carousel-slide .carousel-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 60%;
  height: 90%;
  box-shadow: 1px -1px 10px 5px #a1a1a1;
}

.carousel-slide .carousel-item:nth-child(3),
.carousel-slide .carousel-item:nth-child(4),
.carousel-slide .carousel-item:nth-child(5) {
  box-shadow: 5px 12px 20px 0px #505050;
}

.carousel-slide .carousel-item:nth-child(3) {
  left: calc(45%);
  z-index: 2;
}

.carousel-slide .carousel-item:nth-child(4) {
  left: calc(45% + 330px);
  z-index: 1;
}

.carousel-slide .carousel-item:nth-child(5) {
  left: calc(45% + 660px);
  z-index: 0;
  opacity: 0;
}

.carousel-slide .carousel-item:nth-child(n + 6) {
  left: calc(45% +960px);
  opacity: 0;
}

.carousel-slide .carousel-item:nth-child(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: inherit;
}

.carousel-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 5%;
  max-width: 35%;
  text-align: left;
  color: #eee;
  display: none;
}

.carousel-slide .carousel-item:nth-child(2) .carousel-content {
  display: block;
}

.carousel-des {
  opacity: 0;
  font-size: 1.5rem;
  animation: animate 0.5s ease-in-out 0.3s 1 forwards;
}

.buttons {
  position: absolute;
  bottom: 5%;
  width: 80%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  width: 6rem;
  height: 3.5rem;
  border-radius: 3px;
  cursor: pointer;
  background: #e2981b;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button:hover {
  background: #af740e;
  color: #252836;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

/* Tailwind 2xl breakpoint (1536px) */
@media screen and (max-width: 1536px) {
  .carousel-slide .carousel-item:nth-child(3) {
    left: calc(45%);
  }

  .carousel-slide .carousel-item:nth-child(4) {
    left: calc(45% + 250px);
  }

  .carousel-slide .carousel-item:nth-child(5) {
    left: calc(45% + 500px);
  }
  .carousel-des {
    font-size: 1.3rem;
  }
}

/* Tailwind xl breakpoint (1280px) */
@media screen and (max-width: 1280px) {
  .carousel-title {
    font-size: 2.5rem;
  }

  .carousel-slide .carousel-item {
    width: 240px;
    height: 430px;
  }

  .carousel-slide .carousel-item:nth-child(1),
  .carousel-slide .carousel-item:nth-child(2) {
    width: 75%;
  }

  .carousel-slide .carousel-item:nth-child(3) {
    left: calc(55%);
  }

  .carousel-slide .carousel-item:nth-child(4) {
    left: calc(55% + 220px);
  }

  .carousel-content {
    left: 50px;
    max-width: 400px;
  }

  .carousel-des {
    font-size: 1.2rem;
  }

  .buttons {
    width: 75%;
  }

  .buttons button {
    font-size: 20px;
  }
}

/* Tailwind lg breakpoint (1024px) */
@media screen and (max-width: 1024px) {
  /* .container {
        height: 80vh;
    } */

  .carousel-title {
    font-size: 2.5rem;
  }

  .carousel-slide .carousel-item {
    width: 220px;
    height: 400px;
  }

  .carousel-slide .carousel-item:nth-child(1),
  .carousel-slide .carousel-item:nth-child(2) {
    width: 70%;
  }

  .carousel-slide .carousel-item:nth-child(3) {
    left: calc(50%);
  }

  .carousel-slide .carousel-item:nth-child(n + 4) {
    opacity: 0;
    pointer-events: none;
  }

  .carousel-content {
    left: 30px;
    max-width: 50%;
  }

  .carousel-des {
    font-size: 1rem;
  }

  .buttons {
    width: 70%;
    gap: 8px;
  }

  .buttons button {
    width: 37.5px;
    height: 26.25px;
  }

  .buttons button .icon {
    font-size: normal;
  }
}

/* Tailwind md breakpoint (768px) */
@media screen and (max-width: 768px) {
  /* .container {
        height: 70vh;
        width: 95vw;
        max-width: 95vw;
        margin: 10px auto;
    } */

  .carousel-title {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
  }

  .carousel-slide .carousel-item {
    width: 200px;
    height: 300px;
  }

  .carousel-slide .carousel-item:nth-child(1),
  .carousel-slide .carousel-item:nth-child(2) {
    width: 100%;
  }

  .carousel-slide .carousel-item:nth-child(n + 3) {
    opacity: 0;
    pointer-events: none;
  }

  .carousel-content {
    left: 20px;
    max-width: 300px;
  }

  .carousel-des {
    font-size: 1rem;
  }

  .buttons {
    width: 100%;
  }

  .buttons button {
    width: 25px;
    height: 17.5px;
  }

  .buttons button .icon {
    font-size: smaller;
  }
}

/* Tailwind sm breakpoint (640px) */
@media screen and (max-width: 640px) {
  /* .container {
        height: 60vh;
    } */

  .carousel-title {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .carousel-content {
    left: 15px;
    max-width: 250px;
  }

  .carousel-des {
    font-size: 0.8rem;
  }
}

/* Height-based media query */
/* @media screen and (max-height: 600px) {
    .container {
        height: 100vh;
    }
} */
